body{
  
}

.container{
    width: 1400px;
    margin: 0 auto;
    /* background-color: red; */
}

header{
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

header ul{
    list-style: none;
    display: flex;
}

header ul li{
    margin-left: 50px;

}

header ul li a{
    text-decoration: none;
    font-family: "Google Sans Code", monospace;
    color: #212832;
    font-size: 17px;
}



